#footer {
    padding: 1rem 4rem;
    background-color: var(--color-dark);
    color: white;
    align-items: center;
    height: 1rem;
}

#links {
    display: flex;
    gap: 2rem;
}

#copyright {
    color: var(--color-secondary);
}